node_modules
*/node_modules
npm-debug.log
.git
.github
.gitignore
*.md
terraform
scripts
client/dist
server/reports
client/reports
client/cypress/videos
client/cypress/screenshots
.DS_Store
.dockerignore
Dockerfile
docker-compose.yml
